{% extends 'base.html.twig' %}

{% block scrollable %}
    <h1>PStats list</h1>
<div class="table-responsive">
    <table class="records_list table table-striped table-bordered">
        <thead>
            <tr>
                <th>Pname</th>
                <th>Tname</th>
                <th>Date</th>
                <th>HalfTime</th>
                <th>Shot</th>
                <th>Shotongoal</th>
                <th>Assist</th>
                <th>Goal</th>
                <th>Owngoal</th>
                <th>Penaltykickmade</th>
                <th>Penaltykickattempt</th>
                <th>Offsides</th>
                <th>Keepersave</th>
                <th>Foul</th>
                <th>Yellowcard</th>
                <th>Redcard</th>
                <th>Pid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pStat in pStats %}
            <tr>
                <td><a href="{{ path('edit1_show', { 'id': pStat.pId }) }}">{{ pStat.pName }}</a></td>
                <td>{{ pStat.tName }}</td>
                <td>{% if pStat.date %}{{ pStat.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pStat.halftime }}</td>
                <td>{{ pStat.shot }}</td>
                <td>{{ pStat.shotongoal }}</td>
                <td>{{ pStat.assist }}</td>
                <td>{{ pStat.goal }}</td>
                <td>{{ pStat.owngoal }}</td>
                <td>{{ pStat.penaltykickmade }}</td>
                <td>{{ pStat.penaltykickattempt }}</td>
                <td>{{ pStat.offsides }}</td>
                <td>{{ pStat.keepersave }}</td>
                <td>{{ pStat.foul }}</td>
                <td>{{ pStat.yellowcard }}</td>
                <td>{{ pStat.redcard }}</td>
                <td>{{ pStat.pId }}</td>
                <td style="text-align: center; vertical-align: middle;">
                    <ul style="list-style-type: none;">
                        <li>
                            <a class="btn btn-default btn-xs" href="{{ path('edit1_show', { 'id': pStat.pId }) }}">show</a>
                        </li>
                        <li style="margin-top: 10px;">
                            <a class="btn btn-default btn-xs" href="{{ path('edit1_edit', { 'id': pStat.pId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul style="padding: 0; list-style-type: none;">
        <li>
            <a class="btn btn-primary btn-lg" href="{{ path('edit1_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}

{% block li2 %}
    <li style="margin-top: 300%;">
        <a href="{{ path('logout') }}">
            <i class="fa fa-sign-out fa-2x"></i>
            <span class="nav-text">
                            Log Out
                        </span>
        </a>
    </li>
{% endblock %}