<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Soccer Scoreboard{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" title="RSD" href="https://rawgit.com/dc-js/dc.js/master/web/css/dc.css"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{asset('css/base.css')}}" />
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <div class="area"></div><nav class="main-menu">
        <ul>
            {% block li1 %}
            {% endblock %}
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                            Graphs and Statistics
                        </span>
                </a>
                <ul>
                    <li class="has-subnav">
                        <a href="{{ path('db_graphp') }}">
                            <i class="fa"></i>
                            <span class="nav-text">
                            Player Stats
                        </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="{{ path('db_graph') }}">
                            <i class="fa"></i>
                            <span class="nav-text">
                            Team Stats
                        </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                            Tables
                        </span>
                </a>
                <ul>
                    <li class="has-subnav">
                        <a href="{{ path('edit_index') }}">
                            <i class="fa"></i>
                            <span class="nav-text">
                            Overall Table
                        </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="{{ path('edit1_index') }}">
                            <i class="fa"></i>
                            <span class="nav-text">
                            Player Table
                        </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a href="{{ path('edit2_index') }}">
                            <i class="fa"></i>
                            <span class="nav-text">
                            Team Table
                        </span>
                        </a>
                    </li>

                </ul>
            </li>
            {% block li2 %}
            {% endblock %}
        </ul>

    </nav>
        {% block scrollable1 %}
            <div id="scrollable" class= "scrollable" style="padding-left:70px;">
                {% block scrollable %}{% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% endblock %}
    </body>
</html>
